/* 
CALC ()
PERFORM MATH OPERATION 
MIX MATCH VALUE
*/

*{
    margin: 0;
}

.navbar{
    background: blue;
    height: 6rem;
    color: white; 
    font-size: 3rem;
}
.banner{
    background: red;
    height: calc(100vh - 6rem);
}
.example{
    background: green;
    width: 10rem;
    height: 25rem;
    overflow: hidden;
    overflow: scroll;
}