/* children of body will inherent this style unless they have their own style */
/* body{
    color:green;
    line-height: 1.5;
    font-size: 20px;
    border: 3px solid black;
}
h1{
    color: brown;
} */

/* ID selector */
/* #title {
    color: red;
    background: rosybrown;
}

#footer{
    color:seagreen
} */

/* class selector */
/* .red{
    color:skyblue
}

.uppercase{
    text-transform: uppercase;
}

span{
    text-transform: uppercase;
} */

/* id > class > element*/


/* COLOR PROPERTIES */
/* COLOR BACKGROUND */
/* #first{
    color: rgb(136, 40, 40);
    background-color: black;
}

#second{
    color: red;
    background: yellow;
} */

/* PIXELS- absolute values , doesnt change on different screens*/
/* % -PERCENT- relative, and depend on parent */
/* em- relative, depends on parent (affected by browser setting/parent element)*/
/* .outer{
    width: 300px;
    height: 300px;
    background: blue;
}
.inner{
    width: 50%;
    height: 50%;
    background: red;
}
.absolute{
    font-size: 32px;
}
.relative{
    font-size: 2em;
} */

/*  */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* VIEWPORT UNITS using screen size  */
/* vh : percent of the screen height, same with vw */
.hero{
    background: tomato;
    height: 100vh;
    width: 100vw;
}
.about{
    background: blue;
    height: 43vh;
    width: 54vw;
}